body {
    background-image: url(imagenes/Fondo.jpg);
    background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
    background-repeat: no-repeat; /* Hace que el fondo no se repita en responsive */
    background-attachment: fixed; /* Hace que el fondo ocupe toda la pantalla en responsive */
    background-position: center center; /* Hace que el fondo se centre en responsive */
}
/* .principal {
    width: 99vw;
    height: 45vw;
    display: flex;
    align-items: center;
}

.blur {
    width: 40vw;
    height: 40vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 10vw;
    background-color: rgba(0, 0, 0, 0.196);
    backdrop-filter: blur(2px);
} */